<div class="container">
  <h1>My Stupid Coach</h1>

    <form action="/answer" method="get" class="form-group form-inline">
      <input type="text" name="question">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </form>

</div>
