<h1>Test</h1>

<form action="" method="get" class="form-example">
  <div class="form-example">
    <label for="question">Enter your question: </label>
    <input type="text" name="question" id="question" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Send!">
  </div>
</form>
