// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  border-left: 2px solid gray;
  text-align: left;
  padding-left: 10px;

}

.coach {
  border-left: 2px solid gray;
  background-color: #FFFDE1;
  text-align: left;
   padding-left: 10px;
}

.container {
  text-align: center;
}
